.pet-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.hero-content {
    display: flex; /* Text aur Image ko saath laane ke liye */
    align-items: center;
    gap: 40px;
}

.hero-text { flex: 1; }
.hero-image { flex: 1; }

.hero-image img {
    width: 100%;
    border-radius: 20px;
}

.btn-main, .btn-signin {
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
